<div id="events">
<table>
  <thead>
    <tr>
      <th class="time">Time</th>
      <th class="service">Service</th>
      <th class="direction"></th>
      <th class="event">Event</th>
      <th class="data">Data</th>
    </tr>
  </thead>
  {{collection App.EventsView contentBinding='controller'}}
</table>
</div>

<div id="services">
{{ outlet 'services' }}
</div>

<div id="cards">
{{ outlet 'cards' }}
</div>
