<div id="events">
  <table>
    <thead>
      <tr>
        <th class="time">Time</th>
        <th class="service">Service</th>
        <th class="direction"></th>
        <th class="event">Event</th>
        <th class="data">Data</th>
      </tr>
    </thead>
    {{collection App.EventsView contentBinding='controller'}}
  </table>
</div>

<div class="filters">
  <div class="filter">
  {{ outlet 'services' }}
  </div>

  <div class="filter">
  {{ outlet 'cards' }}
  </div>
</div>

<div class="menu">
  <a {{action 'toggleFilters'}}>Filters</a>
</div>
