<table id="events">
  <thead>
    <tr>
      <th>Service</th>
      <th></th>
      <th>Event</th>
      <th>Data</th>
    </tr>
  </thead>
  {{ view App.EventsView }}
</table>

{{ outlet 'services' }}

{{ outlet 'cards' }}
