<table>
  <thead>
    <tr>
      <th class="service" colspan=2>Service</th>
      <th class="event"> Event Type</th>
    </tr>
  </thead>
  <tbody>
  {{#each service in controller}}
    <tr>
      <td class="service">{{input type="checkbox" name=service.id checked=service.isVisible}}</td>
      <td class="service">{{service.id}}</td>
      <td>
        <table>
          {{#each eventType in service.eventTypes}}
          <tr>
            <td>{{input type="checkbox" name=eventType.id checked=eventType.isVisible}}</td>
            <td class="event">{{eventType.id}}</td>
          </tr>
          {{/each}}
        </table>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
